@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.poppins {
    font-family: "Poppins", sans-serif;
}
/* LANDING PAGE*/
/*  */
.pinkShape,
.blueShape {
  width: 30%;
  position: absolute;
}
.pinkShape {
  left: -9%;
  top: -23%;
  animation: moveAndRotate 15s infinite alternate;
}
.blueShape {
  right: -2%;
  top: 45%;
  animation: moveAndRotate 15s infinite alternate;
}

.animate-disappear-pink{
  animation: moveAndGonePink 2s forwards;
}
.animate-disappear-blue {
  animation: moveAndGoneBlue 2s forwards;
}
.animationRight {
  animation: bounceRightLeft 4s ease-in-out infinite;
}
.animationLeft {
  animation: bounceLeftRight 4s ease-in-out infinite;
}
.animate-disappear {
  animation: fadeOut 1s forwards;
}

/* Animation */
@keyframes bounceRightLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); 
  }
}
@keyframes bounceLeftRight {
  0%, 100% {
    transform: rotate(180deg) translateX(0); /* Rotate and stay at original position */
  }
  50% {
    transform: rotate(180deg) translateX(20px); /* Rotate and move left */
  }
}
@keyframes moveAndRotate {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  50% {
    transform: translateX(10%) translateY(20%) rotate(10deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}
@keyframes moveAndGonePink {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(0);
  }
}
@keyframes moveAndGoneBlue {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  100% {
    transform: translateX(60%) translateY(60%) rotate(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*  */
/* END OF LANDING PAGE */


/* PREDICT PAGE */
/*  */

.gradient-pink {
  background: linear-gradient(to bottom, #B83368, #EC99BB);
}
.text-gradient{
  background: linear-gradient(to right, #EB4284, #1175EA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pink-blue {
  background: linear-gradient(to right, hsl(337, 86%, 67%), #6ab0ff);
}
.border-gradient {
  border-image: linear-gradient(to right, hsl(337, 86%, 67%), #6ab0ff) 1;
}
.show-page{
  animation: showPage 1.5s forwards;
}
.show-page-firstime{
  animation: showPage 3s forwards;
}
.animate-up-down {
  animation: upDown 5s infinite;
}
.scroll-to-right{
  animation: scrollToRight 1.3s forwards;
  will-change: transform;
}
.scroll-to-left{
  animation: scrollToLeft 1.3s forwards;
  will-change: transform;
}
.scroll-to-home-f-about{
  animation: scrollToHomeFromAbout 1.3s forwards;
  will-change: transform;
}
.scroll-to-home-f-blogs{
  animation: scrollToHomeFromBlogs 1.3s forwards;
  will-change: transform;
}


@keyframes scrollToRight {
  from {
    transform: translatex(-100vw);
    animation-timing-function: ease-in-out;
  }
  to{
    transform: translatex(-200vw);
  }
}
@keyframes scrollToLeft {
  from {
    transform: translatex(-100vw);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translatex(0);
  }
}
@keyframes scrollToHomeFromAbout {
  from {
    transform: translatex(-200vw);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translatex(-100vw);
  }
}
@keyframes scrollToHomeFromBlogs {
  from {
    transform: translatex(0vw);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translatex(-100vw);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(-1vw);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(0.5vw);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(-1vw);
  }
}
@keyframes showPage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


/* BLOGS PAGES */
/*  */
.animate-scroll-down{
  animation: animateDown 1.3s forwards;
}
.animate-scroll-top{
  animation: animateTop 1.3s forwards;
}

@keyframes animateTop {
  from {
    transform: translateY(-100vh);
    animation-timing-function: ease-in-out;
  }
  to{
    transform: translateY(0);
  }
}
@keyframes animateDown {
  from {
    transform: translateY(0);
    animation-timing-function: ease-in-out;
  }
  to{
    transform: translateY(-100vh);
  }
}